/*ESTILOS DE PRESENTACION*/

.presentacionContenedor{
    width: 50vw;
}

    
 

/*MEDIA QUERY*/
@media only screen and (max-width: 480px){
#fondoTransparente{
   background-color: rgba(156, 168, 173, 0.493);
    padding: 1rem;
    width: 100vw;
}

#imagenFormulario{
    width: 100vw;
    
}

}

@media only screen and (min-width: 480px) and (max-width: 960px){
.productos{
    width: 100vw;
}
    
}

@media only screen and (min-width: 1200px) {

    
}

#presentacion{

    background-image: url(IMAGENES/Central/imagenCentral.png) ;

    
        background-position: center; 
    height: 100% ;
    background-color: #cccccc;
    background-position: center; 
    background-size: cover;

    top:0;
    position: relative;
      
    /*background-repeat: no-repeat;*/
  
  }




 #boton{
    background-color: hsla(0, 1%, 32%, 0.555);
   
    
 }

 .boton_titulos{
  
    border-radius:0px;
    border:3px solid#c9a326bd;
    
 }

 .titulos{

    color: #c9a326bd;
    font-size:x-large;
 }
 
 .copete_titulos{

 color:whitesmoke;  
 font-size:x-small; 
 }



